<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="UnityFbxSdk" culture="neutral"/>
        <codeBase version="1.0.0.0" href="FbxSdk/Plugins/UnityFbxSdk.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>